.header
	display flex
	justify-content flex-start
	align-items center
	flex-wrap nowrap
	padding 20px 0	
	&__logo 
		img 
			width 100%
	&__socail
		flex 1 1 auto
		display flex
		justify-content center
		a
			text-decoration none
			color $gray
			margin-left 15px
			font-size 16px
			&:hover
			&:focus	
				color $green
	.is-menu
		flex 1 0 auto
		display flex !important
		justify-content center	
		text-transform capitalize
		li
			a
				color lightness( $gray , 50%)
				&:hover
					color $green
.navbar-default
	border-bottom 0
	background $white	
.header-top
		display flex
		flex-direction row
		align-items center
		justify-content flex-end
		padding 10px 0
		.input-group-addon, .input-group-btn
			width 1px
		.input-group	
			margin 0 10px
		.headersearch	
			height 38px
			background none
			border-color $white
			outline none
			&::placeholder
				color $white
		button 
			background none
			color $white
			border-color $white
			height 38px
			text-transform capitalize
			margin-right 10px
			&:hover
			&:active
			&:focus
			&:visited		
				background none !important
				color $white !important
				border-color $white !important
			.caret
				margin-left 5px
		img
			height 50%
			margin 0 10px
		ul
			background $green
			a
				color $white
				text-transform capitalize
.tooltip{
    position:absolute;
    z-index:1020;
    display:block;
    visibility:visible;
    padding:5px;
    font-size:11px;
    opacity:0;
    
}
				
.tooltip.left .tooltip-arrow{
    bottom:0;
    left:0;
    margin-left:0;
    border-left:0 solid transparent;
    border-right:5px solid transparent;
    border-top:0 solid #000;
}
.tooltip.bottom .tooltip-arrow{
    bottom:0;
    left:0;
    margin-left:0;
    border-left:0 solid transparent;
    border-right:5px solid transparent;
    border-top:0 solid #000;
}
.tooltip.right .tooltip-arrow{
    bottom:0;
    left:0;
    margin-left:0;
    border-left:0 solid transparent;
    border-right:5px solid transparent;
    border-top:0 solid #000;
}
.tooltip-inner{
    width: 500px;
    padding:3px 8px;
    color:#fff;
    text-align:center;
    text-decoration:none;
    background-color: $black;
    -webkit-border-radius:0px;
    -moz-border-radius:0px;
    border-radius:0px;
    left: 0;
}
.tooltip-arrow{
    position:absolute;
    width:0;
    height:0;
}						
.tooltiptext4 {
    visibility: hidden;
    width: 150px;
    height: 50px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 10px;
    box-sizing: border-box;
    position: absolute;
    z-index: 1;
    top: -56px;
    right: -19px;
}

.tooltiptext4::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 61px;
    border-width: 10px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}
