.supplier
	background-image url('../img/suppliers.png')
	background-size cover
	background-repeat no-repeat
	padding 25px 0
	h2
		color $white
		padding 20px 0
		text-transform capitalize
		text-align center
	img
		margin 40px 0
		opacity 0.4
		width 100%
	&__more
		display flex
		justify-content center
		a
			border-color $white
			color $white
		i
			border-left-color $white
			
				



		
			