.aboutus
	background-image url('../img/background.jpg')
	background-size cover
	background-repeat no-repeat
	display flex
	flex-direction column	
	justify-content center
	padding 30px 0
	&__type
		display flex
		flex-direction column	
		justify-content center
		align-items center
		h2
			text-transform capitalize
			color $green
		h3
			text-transform capitalize
			color lightness( $gray , 50%)	
		p
			text-align center
			color $gray	
		
			