.contacts	
	background-image url('../img/map-contact.png')
	background-size cover
	background-repeat no-repeat
	padding 25px 0
	color $white
	h2
		text-align center
		text-transform capitalize
		padding 20px 0	
	&__sumbit
		input
			width 100%
			padding 7px 0px 7px 15px
			background-color $ofwhite
			border 0
			color $dark
			font-size 16px
			text-transform capitalize
		.form-control
			margin 10px 0
			padding 7px 0px 7px 15px
			background $ofwhite
			border none
			padding 10px
			text-transform uppercase
			color $white
			word-spacing 2px
			letter-spacing 2px
			outline none
			font-size: 18px
			min-height: 250px	
		button
			width 100%
			background-color lightness( $gray , 30%)
			color $white
			text-transform uppercase
			font-size 16px
			margin 15px 0
			letter-spacing 1px
			border-color lightness( $gray , 30%)
			&:hover
				background-color lightness( $gray , 30%)
				color $white
				border-color lightness( $gray , 30%)	
				
	&-address
		display flex
		align-items baseline
		i
			font-size 25px
	&-type
		margin-left 15px
		h6
			text-transform uppercase
			font-weight bold
			font-size 20px	
		p
			text-transform capitalize		
	.is-new
		i
			font-size 17px
			font-weight bold
		.contacts-type
			margin-left 8px	
					