.blog
	min-height 700px
	text-align center
	h2
		color $green
		text-transform capitalize
		text-align center
		margin 30px 0
		display inline-block
		background-color $white
	&__more
		display flex
		justify-content center
		margin 20px 0	
	.thumbnail
		margin 0
		padding 0
	.caption
		background #faf9f9	
	
	.flip-container
		perspective 1000px
		position relative
		background #faf9f9
	.flip-container:hover .flipper, .flip-container.hover .flipper 
			transform rotateY(180deg)	
	.flipper 
		transition 0.6s
		transform-style preserve-3d
		position relative
		min-height 534px
	.front, .back 
		backface-visibility hidden
		position absolute
		top 0
		left 0
		transition 0.6s
		transform-style preserve-3d
		min-height 534px
		border 1px solid $gray
		border-radius 2px
	.front 
		z-index 2
		transform rotateY(0deg)
		width 100%
		h3
			color $green
		p
			color $dark	
			padding 5px 9px
			margin-bottom 0
		.share
			padding 9px	
			background #faf9f9
			border-top 2px solid $gray
			border-bottom 2px solid $gray
			position absolute
			bottom 0
			width 100%
			data
				color $dark
			a
				float right 
				font-size 20px
				color lightness( $dark , 30%)		
	.back 
		transform rotateY(180deg)
		background lightness( $gray , 30%)
		width 100%
		h3
			padding 9px
			color $white
		p
			padding 5px 9px
			color $white	
			margin-bottom 0
		.share
			border-top 1px solid $white
			border-bottom 1px solid $white
			position absolute
			width 100%
			padding 9px
			bottom 0
			data 
				color $white
			a 
				float right
				color $white
				font-size 20px	
			&:hover
				a
				.share--social 
					a
						display block	
						margin 0 5px				
			&--social
				position absolute
				top 15%
				right 15%
				a
					width 30px
					height 30px
					line-height 30px
					background-color $white
					color $dark
					border-radius 50%
					text-align center
					margin 0 
					display none
					i
						font-size 15px		
	.thumbnail
		border 0	
		background-color #faf9f9
	&:after
		clear both	

		