.intro {
    width: 100%;
    min-height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.intro-body {
    flex: 1;
}

.intro-logo {
    height: 200px;
}

.intro-logo img {
    display: block;
    margin: auto;
    max-height: 100%;
    max-width: 25%;
}

.intro-content {
    text-align: center;
}

.intro-title {
    color: #bee214;
    font-size: 25px;
}

@media screen and (max-width: 767px) {
    .intro-title {
        font-size: 20px;
    }
}

.intro-description {
    color: #444;
    font-size: 17px;
}

@media screen and (max-width: 767px) {
    .intro-description {
        font-size: 15px;
    }
}

.gallery {
    display: flex;
    flex-direction: row;
    height: 450px;
}

.gallery-item {
    text-align: center;
}

.gallery-item:nth-child(2) {
    align-self: flex-end;
}

.gallery-item img {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../img/puzzle3.png");
    transition: 0.4s;
    margin: 50px 0 100px;
    transform: scale(0.6);
}

.gallery-item img:hover {
    background-image: url("../img/puzzle2.png");
    transform: scale(0.8);
}

@media screen and (max-width: 767px) {
    .gallery-item {
        margin: 10px 0;
    }
}

.gallery-item:focus {
    outline: none;
}

.gallery-item img {
    padding: 20% 20%;
    max-width: 60%;
    display: block;
    margin: auto;
}

.gallery-item p {
    color: #999;
}

.gallery-item.slick-center {
    transform: scale(2);
}

.gallery-item.slick-center:after {
    transition: 0.5s;
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    width: 25%;
    left: 37.5%;
    height: 7%;
    border-radius: 50%;
    background-image: radial-gradient(rgba(221, 222, 223, 0.5), transparent);
}

@media screen and (max-width: 767px) {
    .gallery-item.slick-center {
        transform: scale(1);
    }
}

.slick-next:before {
    color: #444;
    content: '>';
}

.slick-prev:before {
    color: #444;
    content: '<';
}

.index nav.navbar {
    background: none !important;
}

.index .header-top button {
    color: #bee214;
    border-color: #bee214;
}

.index .header-top button:hover,
.index .header-top button:active,
.index .header-top button:focus,
.index .header-top button:visited {
    background: none !important;
    color: #bee214 !important;
    border-color: #bee214 !important;
}

.index .header-top button ul.lang {
    background-color: transparent;
    font-weight: bold;
    margin-bottom: 0;
}

.index .header-top button ul.lang li {
    list-style: none;
    border: 1px solid #fff;
    padding: 6px 12px;
}

.index .footer-social {
    flex: 0;
}

.footer {
    display: flex;
    padding: 0 100px;
    border-top: 1px solid #a2a2a2;
    margin: 40px 0 0 0;
    background-color: transparent;
}

@media screen and (max-width: 767px) {
    .footer {
        flex-direction: column;
        align-items: center;
        height: auto;
        padding: 20px 10px;
    }
}

.footer-copyright {
    height: 60px;
    padding: 10px;
    text-align: center;
    color: #444;
    vertical-align: middle;
    line-height: 40px;
    font-size: 12px;
}

.footer-logo {
    height: 60px;
    padding: 10px;
    flex: 1;
}

.footer-logo img {
    height: 100%;
}

.footer-social {
    height: 60px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.footer-email {
    height: 60px;
    padding: 10px;
    flex: 1;
}

.footer-email input {
    border-radius: 50px;
    border-color: #808080;
}

.footer-email button {
    border-color: #808080;
    border-left: 0;
    color: #444;
    border-radius: 50px;
}

.social {
    color: #444;
    padding: 5px;
    margin: 0 10px;
}

.social:hover,
.social:focus {
    color: #bee214;
}

.icon {
    width: 24px;
    height: 24px;
}

@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

body {
    background-image: url("../img/body-2.png");
    background-position: center center;
}

p,
strong {
    word-break: break-all;
}

header #searchlink i {
    margin-top: 10px;
}

header .navbar:nth-child(1) {
    background: #d8e843;
    border: 0;
    border-radius: 0;
    height: 115px;
    margin-bottom: 15%;
    z-index: 1;
}

header .header-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 10px 0;
}

header .header-top .input-group-addon,
header .header-top .input-group-btn {
    width: 1px;
}

header .header-top .input-group {
    margin: 0 10px;
}

header .header-top .headersearch {
    height: 38px;
    background: none;
    border-color: #fff;
    outline: none;
}

header .header-top .headersearch::placeholder {
    color: #fff;
}

header .header-top .btn-default {
    background: none;
    color: #fff;
    border-color: #fff;
    height: 38px;
    text-transform: capitalize;
    margin-right: 10px;
}

header .header-top .btn-default:hover,
header .header-top .btn-default:active,
header .header-top .btn-default:focus,
header .header-top .btn-default:visited {
    background: none !important;
    color: #fff !important;
    border-color: #fff !important;
}

header .header-top .btn-default .caret {
    margin-left: 5px;
}

header .header-top a {
    /*padding: 0 5px;*/
}

header .header-top img {
    margin: 0 5px;
}

header .header-top ul {
    background: #bee214;
}

header .header-top ul a {
    color: #fff;
    text-transform: capitalize;
}

header .header-top ul.lang {
    background-color: transparent;
    font-weight: bold;
    margin-bottom: 0;
    padding: 0;
}

header .header-top ul.lang li {
    list-style: none;
    border: 1px solid #fff;
    padding: 6px 12px;
}

header .header-top .headerlogo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex: 0.5;
}

header .header-top .headerlogo .health {
    margin-left: -85px;
}

.menutwo {
    border: 0;
    position: fixed;
    background: none;
    top: 10%;
    left: 7%;
    z-index: 1;
    margin-top: 11px;
}

.menutwo .navbar-brand {
    height: auto;
    padding: 0;
    /*background-image url('../img/backgroundlogo.png')*/
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: -68px;
    left: -25px;
    width: 39%;
    display: flex;
    justify-content: center;
}

.menutwo .navbar-brand img {
    /*padding 12px 2% 163px 2%*/
    margin: 0 auto;
    max-width: 100%;
}

.menutwo ul {
    float: right;
    position: relative;
    top: 10px;
    left: 135px;
}

.menutwo ul li:nth-child(even) {
    text-transform: capitalize;
    font-weight: bold;
    background-image: url("../img/li.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 119px;
    height: 100px;
    text-align: center;
    position: relative;
    transform: scale(1);
}

.menutwo ul li:nth-child(even):hover {
    transform: scale(1.1);
}

.menutwo ul li:nth-child(even) a {
    position: relative;
    top: 24px;
    color: #444;
}

.menutwo ul li:nth-child(even) a:hover {
    color: #bee214;
}

.menutwo ul li:nth-child(odd) {
    text-transform: capitalize;
    font-weight: bold;
    background-image: url("../img/li1.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100px;
    height: 117px;
    text-align: center;
    position: relative;
    transform: scale(1);
}

.menutwo ul li:nth-child(odd):hover {
    transform: scale(1.1);
}

.menutwo ul li:nth-child(odd) a {
    position: relative;
    top: 32px;
    color: #444;
}

.menutwo ul li:nth-child(odd) a:hover {
    color: #bee214;
}

.menutwo ul li:nth-child(1) {
    top: -11px;
    left: 24px;
}

.menutwo ul li:nth-child(3) {
    left: -24px;
    top: -8px;
}

.menutwo ul li:nth-child(4) {
    left: -48px;
    top: 2px;
}

.menutwo ul li:nth-child(5) {
    left: -72px;
    top: -6px;
}

.menutwo ul li:nth-child(6) {
    left: -96px;
    top: 4px;
}

.menutwo ul li:nth-child(7) {
    left: -120px;
    top: -4px;
}

.menutwo ul li:nth-child(8) {
    left: -144px;
    top: 6px;
    width: 120px;
}

.menutwo ul .about {
    background-image: url("../img/menu1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.menutwo ul .about:hover {
    transform: scale(1);
}

.menutwo ul .about:hover a {
    color: #444 !important;
}

.menutwo ul .about a {
    color: #bee214 !important;
}

.menutwo ul .products {
    background-image: url("../img/menu2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.menutwo ul .products:hover {
    transform: scale(1);
}

.menutwo ul .products:hover a {
    color: #444 !important;
}

.menutwo ul .products a {
    color: #bee214 !important;
}

@media (max-width: 767px) {
    header .navbar:nth-child(1) {
        height: 120px;
    }

    header .header-top {
        justify-content: space-between;
        flex-wrap: wrap;
    }

    header .header-top .headerlogo a {
        width: 80px;
    }

    header .header-top .input-group {
        order: 2;
        margin-top: 10px;
        margin-right: 0;
        margin-left: 0;
        width: 100%;
    }

    header .header-top .headerlogo {
        order: 1;
    }
}

@media (max-width: 1060px) {
    section {
        padding-top: 80px;
    }

    .menutwo {
        top: 0;
        right: 7%;
        position: fixed;
    }

    .menutwo .navbar-brand img {
        padding: 0;
    }

    .menutwo ul {
        left: -10%;
        top: -75px;
        position: relative;
    }

    .menutwo .navbar-brand {
        background-image: none;
        display: block;
        position: static;
        width: 50%;
        top: 0;
        left: 0;
    }

    .menutwo ul li:nth-child(odd) {
        background-image: none;
        position: relative;
        width: initial;
        height: auto;
        top: 0;
        left: 0;
    }

    .menutwo ul li:nth-child(even) {
        background-image: none;
        position: relative;
        width: initial;
        height: auto;
        top: 0;
        left: 0;
    }

    .menutwo ul li:nth-child(even) a {
        position: relative;
        padding: 5px;
        top: 0;
        left: 0;
    }

    .menutwo ul li:nth-child(odd) a {
        position: relative;
        padding: 5px;
        top: 0;
        left: 0;
    }
}

@media (max-width: 768px) {
    .menutwo ul {
        left: -6px;
    }
}

@media (max-width: 767px) {
    .menutwo ul {
        width: 100%;
    }

    .menutwo .navbar-brand img {
        width: 50%;
    }
}

@media (min-width: 1768px) {
    .menutwo {
        left: 16%;
        top: 5%;
    }
}

@media (min-width: 2560px) {
    .menutwo {
        left: 28%;
        top: 5%;
    }
}

@media (max-width: 425px) {
    .menutwo {
        position: relative;
        top: 120px;
        left: 0;
        right: 0;
    }

    .menutwo ul {
        position: static;
    }
}

.banner {
    background-image: url("../img/banner.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: #fff;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner h1 {
    text-transform: capitalize;
    font-weight: bold;
}

.banner p {
    font-size: 28px;
}

.link {
    height: 40px;
    width: 15%;
    border: 2px solid #bee214;
    text-decoration: none;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #bee214;
    margin-top: 20px;
    background-color: #fff;
}

.link:hover,
.linkfocus {
    color: #bee214;
    text-decoration: none;
}

.link i {
    width: 20%;
    border-left: 1px solid #bee214;
    height: 100%;
    text-align: center;
    line-height: 38px;
    font-size: 16px;
}

.link span {
    flex: 2 0 auto;
    text-transform: capitalize;
    text-align: center;
}

@media (max-width: 767px) {
    .link {
        width: 50%;
    }
}

@media (max-width: 768px) and (min-width: 767px) {
    .link {
        width: 30%;
    }
}

.supplier {
    padding: 25px 0;
    text-align: center;
}

.supplier h2 {
    color: #bee214;
    padding: 20px 0;
    text-transform: capitalize;
    text-align: center;
    display: inline-block;
    background-color: #fff;
}

.supplier__logo {
    text-align: center;
}

.supplier img {
    margin: 40px 0;
    opacity: 0.4;
}

.supplier__more {
    display: flex;
    justify-content: center;
}

.supplier__more a {
    border-color: #bee214;
    color: #bee214;
}

.supplier__more i {
    border-left-color: #bee214;
}

.supplier__name {
    color: #666;
    text-transform: capitalize;
    margin: 25px;
}

.supplier__name img {
    margin-bottom: 10px;
}

.supplier__name:after {
    clear: both;
}

.supplier__name .btn-group {
    float: right;
}

.supplier__name .btn-group button {
    color: #bee214;
    border: 1px solid #bee214;
    text-transform: capitalize;
}

.supplier__name .btn-group button span {
    margin: 0 0 0 10px;
}

.supplier__name .btn-group button:hover,
.supplier__name .btn-group button:active,
.supplier__name .btn-group button:focus,
.supplier__name .btn-group button:visited {
    background-color: #fff !important;
    color: #bee214 !important;
    border-color: #bee214 !important;
}

.supplier__name .btn-group ul {
    background-color: #bee214;
    border-color: #bee214;
}

.supplier__name .btn-group ul li {
    text-transform: capitalize;
}

.supplier__name .btn-group ul a {
    color: #fff;
}

.supplier__name .btn-group ul a:hover {
    background-color: #bee214;
}

.supplier__page {
    margin-top: 50px;
}

.supplier__product {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 0 25px 0;
    border: 1px solid #ccc;
    padding: 0px;
}

}
.supplier__block {
    width: 80%;
    margin: 0 auto;
}

.supplier__type {
    /*border: 1px solid #444;*/
    flex: 1 1 auto;
    margin: 0 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: scale(0.9);
}

.supplier__type:hover {
    transform: scale(1);
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
}

.supplier__type h3 {
    text-transform: uppercase;
    color: #4d4d4d;
    font-size: 18px;
}

.supplier__type p {
    color: #444;
    text-transform: capitalize;
}

.supplier .slick-slide {
    float: left !important;
}

.supplier .slick-prev:before {
    content: ' ';
}

.supplier .slick-next:before {
    content: ' ';
}

.supplier .slick-dots li button:before {
    color: #bee214;
    font-size: 12px;
}

.partners {
    padding: 25px 0;
    text-align: center;
}

.partners h2 {
    color: #bee214;
    text-transform: capitalize;
    text-align: center;
    display: inline-block;
    background-color: #fff;
}

.partners img {
    margin: 40px 0;
}

.partners__more {
    display: flex;
    justify-content: center;
}

.partners__more a {
    border-color: #bee214;
    color: #bee214;
}

.partners__more i {
    border-left-color: #bee214;
}

.partners .slick-slide {
    float: left !important;
}

.partners .slick-prev:before {
    content: ' ';
}

.partners .slick-next:before {
    content: ' ';
}

.partners .slick-dots li button:before {
    color: #bee214;
    font-size: 12px;
}

.search {
    padding: 70px 0 0 0;
}

.search__box {
    border: 1px solid #bee214;
    background-color: #bee214;
}

.search__title {
    text-transform: capitalize;
    padding: 0 10px;
    color: #fff;
    margin: 5px 0;
}

.search__type {
    color: #444;
    border: 1px solid #bee214;
    padding: 0 10px;
}

.search a {
    color: #808080;
}

.search__head {
    text-transform: capitalize;
}

.events h2 {
    color: #bee214;
    text-transform: capitalize;
    text-align: center;
    padding: 15px 0;
}

.events__details p {
    color: #444;
}

.events__items {
    display: flex;
    flex-wrap: nowrap;
    border: 1px solid #babdbf;
    align-items: center;
    border-radius: 2px;
    padding: 0 20px;
    margin: 25px 0;
    justify-content: center;
    min-height: 183px;
}

.events__items h4 {
    color: #808080;
}

.events__items:hover {
    border-color: #bee214;
}

.events__items:hover h4 {
    color: #bee214;
}

.events__date {
    flex: 0.3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 30px;
    min-height: 144px;
    border-right: 1px solid #babdbf;
}

.events__date data {
    font-size: 30px;
    color: #bee214;
    font-weight: bold;
    display: inherit;
}

.events__date p {
    color: #444;
    font-size: 16px;
    letter-spacing: 1px;
    margin-bottom: 0;
    margin: 10px 5px 0px 5px;
}

.events__type {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 30px;
    color: #444;
}

.events__type h4 {
    text-transform: uppercase;
    letter-spacing: 1px;
}

.events__type p {
    display: -webkit-box;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 16px;
    max-height: 64px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.events-place {
    display: flex;
    color: #808080;
}

.events-time {
    flex: 0.2 0.2 auto;
}

.events-link {
    padding-right: 30px;
    margin-top: 10px;
    flex: 0.3;
}

.events-link a {
    text-align: center;
    text-transform: uppercase;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #bee214;
    color: #fff;
    font-weight: bold;
    padding: 10px 30px;
    font-size: 12px;
    border-radius: 30px;
    text-decoration: none;
}

.events__more {
    display: flex;
    justify-content: center;
}

@media (max-width: 767px) {
    .events__items {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .events__date {
        border-right: 0;
        border-bottom: 1px solid #babdbf;
        padding-right: 0;
    }
}

.product {
    padding: 0 0 20px 0;
    text-align: center;
}

.product h2 {
    color: #bee214;
    text-transform: capitalize;
    text-align: center;
    padding: 20px 0;
    display: inline-block;
    background-color: #fff;
}

.product-items {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.product-items:hover {
    background-color: #444;
}

.product-items:hover .product-salary {
    display: block;
}

.product-items:hover img {
    opacity: 0.5;
}

.product-salary {
    display: none;
    position: absolute;
    top: 50%;
    left: 10%;
}

.product-salary p {
    font-size: 25px;
    color: #bee214;
    font-weight: bold;
}

.product-salary a {
    width: 50%;
    text-decoration: none;
}

.product__title {
    color: #bee214;
    text-transform: capitalize;
    margin: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-between;
}

.product__title h1 {
    flex: 1;
    margin-top: 50px;
}

.product__title .btn-group {
    flex: 0.1;
}

.product__title .btn-group button {
    color: #bee214;
    border-color: #bee214;
    width: 100%;
    text-transform: capitalize;
}

.product__title .btn-group button span {
    margin: 0 0 0 10px;
}

.product__title .btn-group button:hover,
.product__title .btn-group button:active,
.product__title .btn-group button:focus,
.product__title .btn-group button:visited {
    background-color: #fff !important;
    color: #bee214 !important;
    border-color: #bee214 !important;
}

.product__title .btn-group ul {
    background-color: #bee214;
    border-color: #bee214;
}

.product__title .btn-group ul li {
    text-transform: capitalize;
}

.product__title .btn-group ul a {
    color: #fff;
}

.product__title .btn-group ul a:hover {
    background-color: #bee214;
}

.product__type {
    display: flex;
    flex-direction: row;
    margin: 0 0 25px 0;
}

.product__details {
    border: 1px solid #babdbf;
    flex: 1;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    trasform: scale(0.8);
}

.product__details:hover {
    trasform: scale(1);
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
}

.product__details h3 {
    text-transform: uppercase;
    color: #4d4d4d;
    font-size: 18px;
}

.product__details p {
    color: #444;
    text-transform: capitalize;
}

.product__image {
    text-align: center;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
}

.product__image img:nth-child(1) {
    display: inline;
}

.product__image:hover {
    background-color: #444;
}

.product__image:hover .product__share {
    display: block;
}

.product__image:hover img:nth-child(1) {
    opacity: 0.2;
}

.product__image img.new {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 111;
}

.product__image .video-link {
    position: absolute;
    top: 40%;
    left: 40%;
    color: #fff;
    border: 1px solid #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.product__image .video-link i {
    margin-top: 16px;
}

.product__share {
    display: none;
    color: #fff;
}

.product__share p.onelink {
    position: absolute;
    top: 50%;
    right: 50%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    color: #444;
    background-color: #fff;
    border-radius: 50%;
    margin: 0 20px;
    cursor: pointer;
}

.product__share p.onelink:hover,
.product__share p.onelink .product--social {
    visibility: visible;
}

.product__share a.twolink {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    color: #444;
    background-color: #fff;
    border-radius: 50%;
    margin: 0 20px;
}

.product--social {
    visibility: hidden;
    position: absolute;
    top: 65%;
    left: 0;
    width: 100%;
}

.product--social a {
    width: 30px;
    height: 30px;
    line-height: 30px;
    background-color: #fff;
    color: #444;
    border-radius: 50%;
    text-align: center;
    margin: 0;
    display: inline-block;
}

.product--social a i {
    font-size: 15px;
}

.product__link {
    display: flex;
    justify-content: center;
    margin: 25px 0;
}

.product__link i {
    border-left-color: #bee214;
}

.product .slick-prev {
    width: 50px;
    height: 50px;
    text-align: center;
    background-color: #444444;
    color: #fff;
    z-index: 99999;
}

.product .slick-next {
    width: 50px;
    height: 50px;
    text-align: center;
    background-color: #444444;
    color: #fff;
}

.product .slick-next:before {
    color: #fff;
    content: '\f105';
    font-family: FontAwesome;
    text-align: center;
    opacity: 1;
    line-height: 50px;
}

.product__sidebar h3 {
    margin: 0 0 15px 0;
    text-transform: capitalize;
    color: #666;
}

.product__sidebar .sidebar-menu li {
    margin-bottom: 10px;
    text-transform: capitalize;
}

.product__sidebar .sidebar-menu a {
    color: #666;
}

.product__sidebar .sidebar-menu a:hover {
    color: #babdbf;
    text-decoration: none;
    font-weight: bold;
}

.product .slick-prev:before {
    content: ' ';
}

@media (max-width: 767px) {
    .product__sidebar {
        text-align: center;
    }
}

.productnew {
    margin-top: 18%;
}

.productnew__title {
    text-transform: capitalize;
    color: #bee214;
    text-align: center;
}

.productnew__name {
    text-transform: capitalize;
    color: #bee214;
}

.productnew__more {
    text-align: center;
    color: #bee214;
}

.productnew__more h3 {
    color: #bee214;
    text-transform: capitalize;
    text-align: center;
}

.productnew__price {
    font-size: 18px;
    margin-top: 10px;
    color: #000000;
    font-weight: bold;
}

.productnew__img {
    border: 1px solid #babdbf;
    text-align: center;
    padding: 15px;
}

.productnew__img img {
    height: 100px;
    width: 100%;
}

.productnew__order button {
    border-radius: 4px;
    border: 1px solid #fff;
    background-color: #bee214;
    text-transform: capitalize;
    padding: 9px 58px;
}

.productnew__file {
    display: inline-block;
    margin: 10px 0;
}

.productnew__file button {
    border-radius: 4px;
    border: 1px solid #fff;
    background-color: #bee214;
    text-transform: capitalize;
}

.productnew__model {
    color: #4a4d4f;
    text-transform: capitalize;
}

.productnew__model span:after {
    content: ':';
}

.productnew__model b {
    text-transform: uppercase;
}

.productnew__details {
    color: #444;
}

.productnew__video {
    position: relative;
    margin: 10px 0;
}

.productnew__video .video-link-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
}

.contacts {
    padding: 25px 0;
    color: #444;
    text-align: center;
}

.contacts h2 {
    text-align: center;
    text-transform: capitalize;
    padding: 20px 0;
    color: #bee214;
    background-color: #fff;
    display: inline-block;
}

.contacts__sumbit input {
    width: 100%;
    padding: 7px 15px 7px 15px;
    background-color: #efeaea;
    border: 0;
    color: #444;
    font-size: 16px;
    text-transform: capitalize;
    margin: 5px 0;
}

.contacts__sumbit .form-control {
    margin: 10px 0;
    padding: 7px 15px 7px 15px;
    background: #efeaea;
    border: none;
    padding: 10px;
    text-transform: uppercase;
    color: #fff;
    word-spacing: 2px;
    letter-spacing: 2px;
    outline: none;
    font-size: 18px;
    min-height: 250px;
    resize: none;
}

.contacts__sumbit button {
    width: 100%;
    background-color: #4a4d4f;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    margin: 15px 0;
    letter-spacing: 1px;
    border-color: #4a4d4f;
}

.contacts__sumbit button:hover {
    background-color: #4a4d4f;
    color: #fff;
    border-color: #4a4d4f;
}

.contacts__sumbit select {
    width: 100%;
    padding: 8px 15px 9px 15px;
    background-color: #efeaea;
    border: 0;
    color: #444;
    font-size: 16px;
    text-transform: capitalize;
    margin: 5px 0;
}

.contacts-address {
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.contacts-address i {
    font-size: 25px;
    color: #4d4d4d;
}

.contacts-type {
    margin: 0 0 8px 15px;
}

.contacts-type h6 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
}

.contacts-type p {
    text-transform: capitalize;
}

.contacts-type p a {
    color: #999;
    text-decoration: underline;
}

.contacts-type p a:hover {
    color: #bee214;
}

.contacts__gallary {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0;
}

.contacts__maps {
    display: flex;
    align-items: baseline;
    justify-content: center;
    flex: 0.5;
}

.contacts__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0;
    flex: 0.5;
}

.contacts__item h4 {
    text-transform: capitalize;
    color: #808080;
}

.contacts__item p {
    text-transform: capitalize;
    color: #999;
}

.contacts__item img {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../img/puzzle.png");
    transition: 0.4s;
    margin: 50px 0 100px;
    transform: scale(0.9);
    width: 100%;
}

.contacts__item img:hover {
    transform: scale(1);
}

.contacts__item imgfocus {
    outline: none;
}

.contacts__item img {
    padding: 20% 20% 0 20%;
    display: block;
    margin: auto;
    width: 100%;
}

.contacts--social a {
    color: #999;
    margin: 0 5px;
}

.contacts--social a:hover {
    color: #bee214;
}

.contacts .map {
    margin: 0 5px 25px;
}

.contacts .map h6 {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 3px;
}

.contacts .map p {
    margin-bottom: 0;
}

#map {
    min-height: 400px;
    background-size: cover;
    margin: 30px 0;
}

.medias {
    padding: 25px 0;
    text-align: center;
}

.medias h2 {
    padding: 20px 0;
    color: #bee214;
    text-transform: capitalize;
    text-align: center;
    background-color: #fff;
    display: inline-block;
}

.medias__post {
    display: flex;
    margin: 20px 0;
}

.medias__image {
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #4a4d4f;
}

.medias__image img {
    opacity: 0.5;
}

.medias__image a {
    position: absolute;
    bottom: 5px;
    left: 5px;
    text-align: center;
    text-decoration: none;
    color: #444;
    background-color: #fff;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
}

.medias__image a i {
    margin-left: 2px;
}

.medias__details {
    padding: 10px 15px;
    background-color: #fff;
}

.medias__details data {
    color: #666;
}

.medias__details h4 {
    color: #666;
    text-decoration: capitalize;
}

.medias__details p {
    color: #444;
}

.medias-show {
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding-top: 20px;
}

.medias-show span {
    color: #444;
    font-size: 16px;
    display: inline-block;
}

.medias-show span:hover {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #4a4d4f;
    color: #fff;
    border-radius: 50%;
}

.medias-show a {
    flex: 1 1 auto;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 16px;
    color: #4d4d4d;
    margin-left: 20px;
}

.medias__slide {
    position: relative;
    top: 0;
    left: 0;
    background-color: #4a4d4f;
    margin: 5px 0;
}

.medias__slide img {
    width: 100%;
    opacity: 0.5;
}

.medias__slide a {
    position: absolute;
    bottom: 50%;
    left: 50%;
    text-align: center;
    text-decoration: none;
    color: #444;
    background-color: #fff;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
}

.medias__slide p {
    position: absolute;
    bottom: 6px;
    left: 25%;
    color: #fff;
    font-size: 16px;
    letter-spacing: 1px;
}

.medias__more {
    display: flex;
    justify-content: center;
    margin: 40px 0;
}

.medias__more a {
    border-color: #bee214;
    color: #bee214;
    background-color: #fff;
}

.medias__more a:hover,
.medias__more afocus {
    color: #bee214;
}

.medias__more i {
    border-left-color: #bee214;
}

.blog {
    min-height: 700px;
    text-align: center;
}

.blog h2 {
    color: #bee214;
    text-transform: capitalize;
    text-align: center;
    margin: 30px 0;
    display: inline-block;
    background-color: #fff;
}

.blog__more {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.blog .thumbnail {
    margin: 0;
    padding: 0;
}

.blog .caption {
    background: #faf9f9;
}

.blog .flip-container {
    perspective: 1000px;
    position: relative;
    background: #faf9f9;
}

.blog .flip-container:hover .flipper,
.blog .flip-container.hover .flipper {
    transform: rotateY(180deg);
}

.blog .flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
    min-height: 534px;
}

.blog .front,
.blog .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.6s;
    transform-style: preserve-3d;
    min-height: 534px;
    border: 1px solid #babdbf;
    border-radius: 2px;
}

.blog .front {
    z-index: 2;
    transform: rotateY(0deg);
    width: 100%;
}

.blog .front h3 {
    color: #bee214;
}

.blog .front p {
    color: #444;
    padding: 5px 9px;
    margin-bottom: 0;
}

.blog .front .share {
    padding: 9px;
    background: #faf9f9;
    border-top: 2px solid #babdbf;
    border-bottom: 2px solid #babdbf;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.blog .front .share data {
    color: #444;
}

.blog .front .share a {
    float: right;
    font-size: 20px;
    color: #4d4d4d;
}

.blog .back {
    transform: rotateY(180deg);
    background: #4a4d4f;
    width: 100%;
}

.blog .back h3 {
    padding: 9px;
    color: #fff;
}

.blog .back p {
    padding: 5px 9px;
    color: #fff;
    margin-bottom: 0;
}

.blog .back .share {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    position: absolute;
    width: 100%;
    padding: 9px;
    bottom: 0;
}

.blog .back .share data {
    color: #fff;
}

.blog .back .share a {
    float: right;
    color: #fff;
    font-size: 20px;
}

.blog .back .share:hover a a,
.blog .back .share:hover .share--social a {
    display: block;
    margin: 0 5px;
}

.blog .back .share--social {
    position: absolute;
    top: 15%;
    right: 15%;
}

.blog .back .share--social a {
    width: 30px;
    height: 30px;
    line-height: 30px;
    background-color: #fff;
    color: #444;
    border-radius: 50%;
    text-align: center;
    margin: 0;
    display: none;
}

.blog .back .share--social a i {
    font-size: 15px;
}

.blog .thumbnail {
    border: 0;
    background-color: #faf9f9;
}

.blog:after {
    clear: both;
}

.productdetails {
    margin: 30px 0;
}

.productdetails__gallary img {
    width: 100%;
}

.productdetails__type {
    display: flex;
    flex-direction: column;
}

.productdetails__sort h3 {
    margin-top: 5px;
    color: #666;
    text-transform: capitalize;
}

.productdetails__sort p {
    color: #808080;
    margin: 3px 0;
}

.productdetails__specifics {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.productdetails__specifics p {
    flex: 0.5;
    color: #808080;
    text-transform: capitalize;
}

.productdetails__specifics p span {
    color: #666;
}

.productdetails__download {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.productdetails__download a {
    color: #fff;
    background-color: #bee214;
    text-transform: capitalize;
    padding: 10px 20px;
    border-radius: 50px;
}

.productdetails__download a:hover {
    text-decoration: none;
}

.productdetails__download div {
    flex: 1;
    text-align: end;
}

.productdetails .slick-next:before {
    color: #babdbf;
    content: '\f105';
    font-family: FontAwesome;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
}

.productdetails .slick-prev:before {
    color: #babdbf;
    content: '\f104';
    font-family: FontAwesome;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
}

.accessories {
    margin: 30px 0;
}

.accessories-items {
    text-align: center;
    padding: 20px;
    margin: 0 10px;
}

.accessories-items img {
    width: 100%;
    min-height: 223px;
    border: 1px solid #babdbf;
    transform: scale(0.9);
}

.accessories-items img:hover {
    transform: scale(1);
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
}

.accessories-items h3 {
    text-transform: capitalize;
    color: #666;
}

.accessories .slick-next:before {
    color: #babdbf;
    content: '\f105';
    font-family: FontAwesome;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    font-size: 25px;
}

.accessories .slick-prev:before {
    color: #babdbf;
    content: '\f104';
    font-family: FontAwesome;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    font-size: 25px;
}

.careers {
    margin-top: 50px;
}

.careers__title {
    padding: 30px;
    text-align: center;
}

.careers__title h1 {
    text-transform: capitalize;
    color: #4d4d4d;
}

.careers__title p {
    color: #666;
    font-weight: bold;
}

.careers__title p span {
    color: #bee214;
}

.careers__details {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 10px;
    margin: 20px 0;
    background: transparent;
    border: 1px solid #ccc;
}

.careers__head {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.careers__head h2 {
    color: #4d4d4d;
    text-transform: capitalize;
    flex: 0.5;
}

.careers-city {
    color: #808080;
}

.careers__type {
    flex: 1 1 auto;
}

.careers__type p {
    color: #808080;
    font-weight: bold;
}

.careers__more a {
    padding: 10px 30px;
    border-radius: 50px;
    background: #bee214;
    color: #fff;
    text-transform: capitalize;
    border: 1px solid #fff;
}

.careers__more a:hover {
    text-decoration: none;
}

.careers__contact {
    margin: 10px 0;
}

.careers__contact h2 {
    flex: 0.8;
}

.careers--details h4 {
    color: #666;
    text-transform: capitalize;
}

.careers--details p {
    color: #808080;
}

.careers__apply {
    margin: 30px 0;
}

.careers__apply a.form {
    width: 80.5%;
    padding: 7px 0px 7px 15px;
    background-color: #f2f2f3;
    font-size: 16px;
    text-transform: capitalize;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #caccce;
}

.careers__apply a.form:hover {
    text-decoration: none;
}

.careers__apply a.form span {
    color: #8c8c8c;
    flex: 1;
}

.careers__apply a.form i {
    color: #8c8c8c;
    padding: 0 10px;
    cursor: pointer;
}

.careers__apply h4 {
    color: #666;
    text-transform: capitalize;
    margin-bottom: 35px;
}

.careers__apply input {
    padding: 7px 0px 7px 15px;
    background-color: #f2f2f3;
    color: #444;
    font-size: 16px;
    text-transform: capitalize;
    border: 1px solid #caccce;
    margin-bottom: 10px;
}

.careers__apply .name {
    width: 80.5%;
}

.careers__apply button {
    background-color: #7b8084;
    color: #fff;
    text-transform: uppercase;
    margin: 15px 0;
    letter-spacing: 1px;
    border-color: #7b8084;
    font-weight: bold;
}

.careers__apply button:hover {
    background-color: #4a4d4f;
    color: #fff;
    border-color: #4a4d4f;
}

@media (max-width: 768px) {
    .careers__details {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .careers__head {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.blog .carousel-inner {
    background-color: #444;
    background: linear-gradient(#babdbf, #444 40%);
    margin-bottom: 35px;
}

.blog .carousel-inner img {
    opacity: 0.4;
}

.blog .carousel-indicators {
    bottom: 115px;
    left: 65px;
}

.blog .carousel-caption {
    background: rgba(0, 0, 0, 0.8);
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    text-align: start;
    padding: 35px;
    padding-bottom: 40px;
    color: #fff;
}

.blog--recent {
    text-transform: uppercase;
    color: #333;
    display: inline-block;
    font-weight: bold;
}

.blog--border {
    display: inline-block;
    height: 16px;
    width: 2px;
    background-color: #f00;
    margin-bottom: 0;
}

.blog__item {
    display: flex;
    margin: 20px 0;
}

.blog--image {
    position: relative;
    top: 0;
    left: 0;
    background-color: #444;
    max-widht: 397px;
    max-height: 227px;
}

.blog--image img {
    opacity: 0.5;
    width: 397px;
    height: 227px;
}

.blog--date {
    padding: 3px;
    text-transform: uppercase;
    position: absolute;
    top: 0;
    left: 10px;
    background-color: #f60;
    color: #fff;
    text-align: center;
}

.blog--date p {
    margin-bottom: 5px;
    font-size: 10px;
}

.blog--date p:nth-child(1) {
    font-size: 25px;
}

.blog--type {
    margin: 0 20px;
}

.blog--type h4 {
    text-transform: capitalize;
    font-weight: 600;
    margin-top: 0;
    color: #333;
}

.blog--type p {
    color: #808080;
}

.blog--type span {
    color: #f60;
}

.blog--list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.blog--list ul {
    background-color: #faf9f9;
    padding: 20px;
    line-height: 20px;
}

.blog--list ul a.prev {
    margin-right: 30px;
}

.blog--list ul a.next {
    margin-left: 30px;
}

.blog--list ul a {
    color: #4d4d4d;
    text-decoration: none;
}

.blog--list ul li {
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
}

.blog--list ul li:hover {
    background-color: #f60;
    border-radius: 50px;
}

.blog--list ul li:hover a {
    color: #fff;
}

@media (max-width: 767px) {
    .blog--image img {
        width: 100%;
    }

    .blog__item {
        flex-direction: column;
    }

    .blog--image {
        margin-bottom: 5px;
    }
}

.blog__inner {
    margin: 35px 0;
}

.blog__inner img:nth-child(1) {
    height: 500px;
    width: 100%;
}

.blog--details {
    margin: 50px 0;
}

.blog--head {
    margin: 10px 0 30px;
}

.blog--head h3 {
    text-transform: capitalize;
    color: #666;
}

.blog--head p {
    color: #808080;
}

.blog--head p span {
    text-transform: capitalize;
}

.blog--description {
    margin: 10px 0 30px;
}

.blog--description h3 {
    text-transform: capitalize;
    color: #666;
}

.blog--description p {
    color: #808080;
    margin: 20px 0;
}

.blog--img {
    background: #444;
}

.blog--img img {
    opacity: 0.5;
    height: 227px !important;
}

.blog--header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.blog--header h5 {
    text-transform: capitalize;
    color: #666;
    line-height: 2;
    margin: 20px 10px;
}

.blog--header .blog--border {
    height: 40px;
    width: 5px;
    color: #f60;
}

.blog--paragraph {
    margin: 20px 0;
}

.blog--paragraph p {
    color: #808080;
}

.blog--share {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.blog--share h5 {
    color: #666;
    text-transform: capitalize;
    font-weight: 600;
}

.blog--social {
    border: 1px solid #b0b3b5;
    padding: 10px 30px 10px 20px;
    border-radius: 5px;
}

.blog--social:hover {
    border-color: #bee214;
}

.blog--social:hover a {
    color: #bee214;
}

.blog--social a {
    color: #999;
    text-transform: capitalize;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.blog--social a i {
    font-size: 20px;
    margin: 0 10px;
}

.blog--link {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 25px 0;
}

.blog--link h5 {
    text-transform: capitalize;
    color: #666;
    margin: 0 20px 0 0;
    font-weight: 600;
}

.blog--link a {
    color: #999;
    text-decoration: none;
    margin: 0 3px;
}

.blog--link a:hover {
    color: #bee214;
}

@media (max-width: 767px) {
    .blog--share {
        justify-content: center;
        flex-direction: column;
    }

    .blog--social {
        margin-top: 5px;
    }
}


.asterisk
{
    color:red;
}