.intro
    width: 100%
    min-height: 100vh
    background-position: center center
    background-repeat: no-repeat
    background-size: cover
    display: flex
    flex-direction: column

    &-body
        flex: 1

    &-logo
        height: 200px
        img
            display: block
            margin: auto
            max-height: 100%
            max-width 25%

    &-content
        text-align: center

    &-title
        color: $green
        font-size: 25px
        +mobile()
            font-size: 20px

    &-description
        color: $dark
        font-size: 17px
        +mobile()
            font-size: 15px
