.link
	height 40px
	width 15%
	border 2px solid $green
	text-decoration none
	border-radius 20px
	display flex
	justify-content center
	align-items center
	color $green
	margin-top 20px
	background-color $white
	&:hover
	&focus
		color $green
		text-decoration none	
	i
		width 20%
		border-left 1px solid $green
		height 100%
		text-align center
		line-height 38px
		font-size 16px
	span
		flex 2 0 auto
		text-transform capitalize
		text-align center
				
@media (max-width: 767px)				
	.link
		width 50%
@media (max-width: 768px) and (min-width: 767px)	
	.link
		width 30%	