.partners
	padding 25px 0
	text-align center
	h2
		color $green
		text-transform capitalize
		text-align center
		display inline-block
		background-color $white
	img
		margin 40px 0
	&__more
		display flex
		justify-content center
		a
			border-color $green
			color $green
		i
			border-left-color $green
	.slick-slide
		float left !important		
	.slick-prev:before
		content ' '	
	.slick-next:before
		content	' '	
	.slick-dots li button:before
		color $green
		font-size 12px	