$green = #BEE214
$gray  = #BABDBF
$dark  = #444444
$white = #ffffff
$ofwhite = #efeaea
$orange = #ff6600
/**
 * Device Breakpoint
 */
$mobile     = 0
$tablet     = 768px
$screen     = 991px
$widescreen = 1200px
$ultrawide  = 1920px
